@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f7cdd0;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.change-pass{
    background-color: #ffafb6;
}

/* Layout */
.whole {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar Styling */
.sidebar {
    margin: 0;
    padding: 30px;
    width: 300px;
    background-color: #f2d6d8;
    height: 100%;
    font-size: 18px;
}

/* Sidebar Links */
.sidebar a {
    justify-content: center;
    height: 70px;
    width: 100%;
    display: block;
    color: black;
    padding: 25px;
    text-decoration: none;  
    border-radius: 10px;
    font-size: 20px;
}

.top{
    margin-top: 50px;
}   

.bot a{
    height: 70px;
    width: 250px;
    font-size: 20px;
}

.sidebar a:hover {
    background-color: #ffafb6;
    color: white;
}

/* Bottom Section of Sidebar */
.sidebar .bot {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 20px);
}

/* Content Area */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.item-stocks h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.item-stocks{
    display: flex;
    flex-direction: column;
}

.item{
    background-color: #ff9999;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.item h3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.stocks{
    background-color: #ff9999;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.stocks h3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.date{
    position: absolute;
    top: 20px;
    left: 1100px;
    padding: 10px 20px;
    background-color: #ffafb6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.topping1, .topping2, .topping3, .topping4, .topping5, .topping6, .cup1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 3px;
}

.item1, .item2, .item3, .item4, .item5, .item6, .cup2{
    background-color: #ffe3e3;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    cursor: pointer;
}

.stocks1, .stocks2, .stocks3, .stocks4, .stocks5, .stocks6, .cup3{
    background-color: #ffe3e3;
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.btn{
    display: flex;
    flex-direction: row;
}

.btn a{
    background-color: #ff9999;
    margin-top: 50px;
    bottom: 150px;
    left: 1000px;
    padding: 10px 20px;
    background-color: #ffafb6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.popup1, .popup2{
    display: none;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    height: 700px; /* palitan mo nalang to */
    background-color: white;
    align-items: center;
}

.toppings-title{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-top: 50px;
    height: 50px;
    width: 300px;
    background-color: #f7838d;
    border-radius: 10px;
}

.toppings-title{
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 50px;
}

.number, .price{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.current-stocks, .gram{
    margin-bottom: 30px;
}

.addStocks, .priceUpdate{
    width: 100%;
    padding: 20px;
}

.add-label, .price-label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-label label, .price-label label{
    background-color: #ff9999;
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
}

.add-input, .price-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.add-input input, .price-input input{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 5px;
    text-align: right;
}

.add-input button, .price-input button {
    background-color: #ff9999;
    height: 35px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.log-btn{
    display: flex;
    flex-direction: column;
    height: 35px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #ff9999;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.weight-title, .added-title{
    background-color: #ffe3e3;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.grams, .added-grams{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

.confirm-btn{
    display: flex;
    flex-direction: column;
    background-color: #ff9999;
    margin-top: 50px;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.log-title{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-top: 100px;
    height: 50px;
    width: 300px;
    background-color: #f7838d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-weight: 600;
}
.back{
    width: 100%;
    border: none;
    background-color: transparent;
}

.back img{
    display: flex;
    flex-direction: column;
    height: 55px;
    width: 45px;

}
