@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f7cdd0;
    overflow-x: hidden;  
}

.change-pass{
    background-color: #ffafb6;
}

/* Layout */
.whole {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar Styling */
.sidebar {
    margin: 0;
    padding: 30px;
    width: 300px;
    background-color: #f2d6d8;
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

/* Sidebar Links */
.sidebar a {
    justify-content: center;
    width: 100%;
    display: block;
    color: black;
    padding: 25px;
    text-decoration: none;  
    border-radius: 10px;
    font-size: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    flex: 1;
    gap: 5px;
}   

.bot a{
    font-size: 20px;
}

.sidebar a:hover {
    background-color: #ffafb6;
    color: white;
}

/* Bottom Section of Sidebar */
.bot {
    display: flex;
    flex-direction: column;
    bottom: 20px;
    gap: 5px;
}

/* Content Area */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    flex-grow: 1;
    overflow-y: auto;
}

.item-stocks h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.item-stocks{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item{
    background-color: #ff9999;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.item h3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.stocks{
    background-color: #ff9999;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.stocks h3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.date p {
    background-color: #ffafb6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
}

.topping1, .topping2, .topping3, .topping4, .topping5, .topping6, .cup1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 3px;
}

.item1, .item2, .item3, .item4, .item5, .item6, .cup2{
    background-color: #ffe3e3;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    cursor: pointer;
}

.stocks1, .stocks2, .stocks3, .stocks4, .stocks5, .stocks6, .cup3{
    background-color: #ffe3e3;
    display: flex;

    height: 50px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hidden {
    display: none;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn a, 
.btn p{
    background-color: #ff9999;
    margin-top: 50px;
    bottom: 150px;
    left: 1000px;
    padding: 10px 20px;
    background-color: #ffafb6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.popup1, .popup2{
    display: none;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    height: 700px; /* palitan mo nalang to */
    background-color: white;
    align-items: center;
}

.toppings-title{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-top: 50px;
    height: 50px;
    width: 300px;
    background-color: #f7838d;
    border-radius: 10px;
}

.toppings-title{
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 50px;
}

.number, .price{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
    text-align: center;
    font-weight: 600;
}

.current-stocks, .gram{
    margin-bottom: 30px;
}

.addStocks, .priceUpdate{
    width: 100%;
    padding: 20px;
}

.add-label, .price-label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-label label, .price-label label{
    background-color: #ff9999;
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
}

.add-input, .price-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.add-input input, .price-input input{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 5px;
    text-align: right;
}

.add-input button, .price-input button {
    background-color: #ff9999;
    height: 35px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.log-btn{
    display: flex;
    flex-direction: column;
    height: 35px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: #ff9999;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.weight-title, .added-title{
    background-color: #ffe3e3;
    height: 40px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.grams, .added-grams{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

.added-grams input,
.grams input{
    width: 100%;
    text-align: center;
}

.confirm-btn{
    display: flex;
    flex-direction: column;
    background-color: #ff9999;
    margin-top: 50px;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.log-title{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-top: 100px;
    height: 50px;
    width: 300px;
    background-color: #f7838d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-weight: 600;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.back{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: none;
    background-color: transparent;
}

#back_btn1 img{
    height: 55px;
    width: 45px;
    cursor: pointer;
}

#back_btn2 img{
    height: 55px;
    width: 45px;
    cursor: pointer;
}

#back_btn3 img{
    height: 55px;
    width: 45px;
    cursor: pointer;
}

#delete_item_btn1 img{
    display: flex;
    justify-content: right;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

#rename_popup{
    display: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border: 1px solid black;
    border-top: solid #f7838d 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5px;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000054;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

#rename_product{
    border: solid black 1px;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

#cancel_btn,
#confirm_btn{
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: black solid 1px;
    background-color: #ff9999;
}

.addItemPopup{
    display: none;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    height: 700px; /* palitan mo nalang to */
    background-color: white;
    align-items: center;
}

.add-form-text-input-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.add-form-text-input-container input{
    width: 50%;
}

.add-form-title{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    height: 50px;
    width: 300px;
    background-color: #f7838d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
}

#generate_random_data{
    cursor: pointer;
}

@media (max-width: 1440px){
    .sidebar{
        font-size: 15px;
        width: 200px;
        padding: 10px;
    }
    .top{
        margin-top: 0px;
    }
    .sidebar a{
        font-size: 15px;
        padding: 10px;
    }
    .content{
        padding: 40px 70px;
    }
    .date{
        right: 20px;
    }
}

@media (max-width: 768px){
    .content{
        padding: 20px 20px;
    }
}